* {
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    width: 100%;
    font-family: Inter-Regular;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.header-logo {
    width: 170px;
}

.header-nav-text {
    display: flex;
    gap: 80px;
}

.header-nav-text a {
    text-decoration: none;
    color: white;
    font-size: 23px;
}

.header-nav-text-glow {
    display: flex;
    gap: 50px;
    margin-left: 3%;
    margin-right: -5%;
}

.header-nav-text-glow a {
    text-decoration: none;
    font-size: 23px;
}

.text-purple {
    color: #DB25BA !important
}

.text-yellow {
    color: #DCEA15 !important
}

.glow-purple {
    text-shadow: #DB25BA 0px 0px 50px;
}

.glow-yellow {
    text-shadow: #DCEA15 0px 0px 50px;
}

.header-nav-glow-icon-purple {
    margin-top: -30%;
}

.header-nav-glow-icon-yellow {
    margin-top: -30%;
}

.header-buttons {   
    display: flex;
    gap: 15px;
}

.header-nav-button-language  {
    background-color: #333;
    border: none;
    padding: 5px 17px;
    border-radius: 5px;
}

.header-nav-button-login {
    background-color: #ff0000;
    border: none;
    padding: 5px 30px;
    border-radius: 5px;
}

.header-nav-button-language a {
    color: white;
    text-decoration: none;
    padding-left: 20px;
    font-family: Inter-Bold;
}

.header-nav-button-login a {
    color: white;
    text-decoration: none;
    font-family: Inter-Bold;
}

.header-nav-button-language-icon {
    padding-top: -10%;
    margin-left: -7%;
    margin-right: 7%;
    padding-bottom: 2%;
}

.header-nav-line {
    width: 100%;
    height: 2px;
    background-color: #ff0000;
    margin-top: 0px;
    padding: 0;
    filter: blur(5px);
}

/* HighLight film */
.highlight-banner {
    position: relative;
    width: 100%;
}

.highlight-image {
    position: relative;
    width: 100%;
}

.highlight-image img {
    width: 100%;
    height: auto;
}

.highlight-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0,0,0,0.8), transparent 70%),
                linear-gradient(to top, rgba(0,0,0,0.8), transparent 70%);
    display: flex;
    align-items: center;
}

.highlight-content {
    color: white;
    padding: 0 17%;
    max-width: 100%;
}

.highlight-content h1 {
    font-family: Inter-ExtraBold;
    font-size: 64px;
    margin-bottom: 7px;
}

.highlight-content p {
    font-family: Inter-Regular;
    font-size: 30px;
    line-height: 1.4;
    margin-bottom: 20px;
}

.highlight-actions {
    display: flex;
    align-items: center;
    gap: 20px;
}

.watch-now {
    background-color: #ff0000;
    color: white;
    border: none;
    padding: 10px 30px;
    border-radius: 40px;
    font-size: 25px;
    display: flex;
    align-items: center;
}

.watch-now img {
    margin-left: 18px;
    width: 20px;
    height: 30px;
}

.highlight-icons {
    display: flex;
    gap: 15px;
}

.highlight-awards {
    display: flex;
    gap: 10px;
}

.highlight-awards img {
    width: 45px;
    height: 45px;
}

.content-background {
    background-color: black;
    width: 100%;
}

.content-text {
    color: white;
    text-decoration: none;
}

.content-logo {
    margin-top: -60px;
    margin-left: 100px;
    position: relative;
    justify-content: center;
}

.content-logo img {
    width: 30%;
}

.card-content {
    margin-top: 40px;
    margin-left: 100px;
    justify-content: center;
}

.title-card p {
    font-family: Inter-ExtraBold;
    width: 100%;
    font-size: 64px;
    line-height: normal;
}

.poster-card {
    display: flex;
}

.poster {
    width: 310px;
    margin-left: 10px;
}

.top-revenue {
    font-family: Inter-ExtraBold;
    margin-right: -3%;
    color: rgba(155, 153, 153, 0.77);
    text-align: center;
    font-size: 400px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.top-revenue-exception {
    font-family: Inter-ExtraBold;
    margin-right: -2%;
    color: rgba(155, 153, 153, 0.77);
    text-align: center;
    font-size: 400px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.card-content-vietnam {
    margin-top: 40px;
    justify-content: center;
}

.title-card p

.poster-vietnam {
    width: 400px;
    margin-top: 15px;

}


.card-content-unique {
    margin-top: 40px;
}

.title-card-unique {
    font-family: Inter-ExtraBold;
    width: 100%;
    font-size: 64px;
    line-height: normal;
    margin-left: 100px;
}

.poster-card-unique {
    text-align: center;
}

.poster-unique {
    width: 250px;
    margin-right: 10px;
}

















































footer {
    background-color: #000;
    padding: 40px 50px;
    color: #fff;
    position: relative;
}

footer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #333;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-left {
    flex: 3;
    padding-right: 60px;
}
.footer-logo {
    margin-top: -40px;
    margin-bottom: 1px;
}

.logo-image-footer {
    width: 200px;
    height: auto;
}

.company-details {
    font-size: 13px;
    line-height: 1.4;
    color: rgba(255, 255, 255, 0.9);
    margin-top: -5px;
}

.company-details p {
    font-size: 15px;
    margin-bottom: 4px;
    color: rgba(255, 255, 255, 0.9);
}

.certification {
    display: flex;
    gap: 15px;
    margin-top: 40px;
}

.certification img {
    height: 35px;
    width: auto;
}

.footer-right {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-top-links {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.footer-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 30px;
}

.footer-section a {
    font-size: 14px;
    transition: color 0.3s;
    color: rgba(255, 255, 255, 0.9);
    text-decoration: underline;
    display: block;
    margin-bottom: 6px;
}

.footer-section a:hover {
    color: #fff;
}

.footer-bottom-contact {
    margin-bottom: 40px;
    margin-top: auto;
}

.social-icons {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}

.social-icon img {
    width: 20px;
    height: 20px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.contact-item {
    text-decoration: none;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.9);
    display: flex;
    align-items: center;
    gap: 10px;
}

.contact-item img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}