* {
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    width: 100%;
    font-family: Inter-Regular;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.header-logo {
    width: 170px; /* Điều chỉnh kích thước phù hợp */
}

.account-img {
    cursor: pointer;
    width: 45px;
    height: auto;
}

.header-nav-text {
    display: flex;
    gap: 80px;
    place-items: center;
}

.logo-container {
    width: 30rem;
    display: flex;
    justify-content: space-between;
}

.logo-container .header-text {
    text-decoration: none;
    color: white;
    font-size: 20px;
    align-self: center;
}

.header-nav-text a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.header-text:hover{
    text-decoration: 1px underline;
}

.header-buttons {
    display: flex;
    gap: 15px;
    align-items: center;
}

.header-nav-button-join  {
    background-color: #000000;
    border: 1px solid rgb(134, 134, 134);
    padding: 5px 17px;
    border-radius: 5px;
}

.header-nav-button-login {
    background-color: #ff0000;
    border: none;
    padding: 5px 30px;
    border-radius: 5px;
}

.header-nav-button-join a {
    color: white;
    text-decoration: none;
    font-family: Inter-Bold;
}

.header-nav-button-login a {
    color: white;
    text-decoration: none;
    font-family: Inter-Bold;
}

.header-nav-button-language-icon {
    padding-top: -10%;
    margin-left: -7%;
    margin-right: 7%;
    padding-bottom: 2%;
}

.header-nav-line {
    width: 100%;
    height: 2px;
    background-color: #ff0000;
    margin-top: 0px;
    padding: 0;
    filter: blur(5px);
}