* {
  font-family: Inter-Regular;
}

body {
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  font-weight: 300;
}

h1 {
  text-align: center;
  margin-top: 10rem;
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
}

.default-div {
  border: 2px solid rgb(197, 197, 197);
  margin-left: 500px;
  margin-right: 500px;
}

.div1 {
  margin-top: 16rem;
  border: 2px solid rgb(197, 197, 197);
  margin-left: 500px;
  margin-right: 500px;
}

.div-strong {
  text-align: center;
  padding:1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-summary {
  margin-left: 5px;
  margin-bottom: 50px;
}

.div-summary > details {
  margin-top: 30px;
}

strong {
  font-size: 25px;
  line-height: 27px;
}

.distance-div {
  margin-top: 10rem;
}

.div-fastlink {
  margin-top: 20rem;
  margin-left: 500px;
  margin-right: 500px;
}

.div3 {
  margin-top: 10rem;
  text-align: center;
}

.supportbutton {
  background-color: black;
  border: 15px solid black;
  border-radius: 30px;
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

footer {
  background-image: url("../assets/Images/footer-background.png");
  background-size: 100% 100%;
  height: 23rem;
  margin-top: 10rem;
}

body {
  margin: 0;
}

select {
  margin-top: 7rem;
  margin-left: 350px;
  background-color: black;
  color: rgb(143, 143, 143);
  padding: 10px;
  padding-right: 15px;
  padding-left: 15px;
  font-size: large;
  font-weight: bold;
}

select:hover {
  background-color: rgb(88, 88, 88);
  color: white;
}

option {
  background-color: white;
  color: black;
}

.link {
  margin-left: 350px;
  margin-top: 50px;
}

.link > a {
  color: rgb(131, 131, 131);
  text-decoration: none;
}

.link a:hover{
  color: white;
}

a {
  color: black;
  font-size: medium;
  padding: 5px;
}

.designed-section {
    padding: 0.5rem;
    box-shadow: 1px 1px 5px 1px #0000008c;
    border-radius: 10px;
}

.intro{
    color: #000;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
}

.update-payment-link:hover{
  color: rgb(109, 109, 109);
}

.update-payment-link:focus{
  border: 2px solid black;
  border-radius: 5px;
}